# System & macOS garbage
.DS_Store
Thumbs.db
ehthumbs.db
desktop.ini

# iCloud and Spotlight
Library/
__MACOSX/
.Trashes/
.AppleDouble
.DocumentRevisions-V100/
.fseventsd/
.Spotlight-V100/
.TemporaryItems/
.VolumeIcon.icns

# VSCode and Node
.vscode/
node_modules/

# Chrome Cache
Google/
Caches/
